/* 
input.css -> this will get translated to output.css by tailwind

When developing, run:
    ./tailwindcss -i input.css -o output.css --watch
When deploying, run:
    ./tailwindcss -i input.css -o output.css --minify
*/

@import "tailwindcss";

@theme {
	--color-light-olive: #f2ffd9;
	--color-olive: #b1d27d;
	--color-dark-olive: #1a231b;
	--color-light-salmon: #ffe0dd;
	--color-salmon: #ff7e70;
	--color-dark-salmon: #2b1b1b;
	--animate-fade-in: fadeIn 0.5s ease;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

[hidden] {
	display: none !important;
}

/* Custom Scroll */
::-webkit-scrollbar {
	width: 10px;

	background-color: rgba(141, 198, 245, 0);
}
::-webkit-scrollbar-track {
	background-color: var(--color-salmon-pink);
}

::-webkit-scrollbar-thumb {
	background: rgb(240, 240, 240);
	border-radius: 10px;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #686868;
}

/*
Reveal animation for each section while scrolling. 
Taken from https://medium.com/@glen.gracieux/building-a-simple-html-css-js-website-9cc04a8bd761
*/
.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 800ms all ease;
}

.reveal.active {
	transform: translateY(0px);
	opacity: 1;
}

/*
Styling active buttons for filtering
*/
.active-btn {
	@apply text-salmon hover:text-white border border-salmon bg-white hover:bg-salmon focus:ring-4 focus:outline-none focus:ring-dark-salmon rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-light-salmon dark:text-salmon dark:hover:text-white dark:hover:bg-salmon dark:bg-gray-900 dark:focus:ring-light-salmon;
}

.inactive-btn {
	@apply text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800;
}

/*
Hide content visually but keep it on the screen for screen readers. Tailwind doesn't have clip available yet.
Taken from https://www.a11yproject.com/posts/how-to-hide-content/
*/
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
