/* 
input.css -> this will get translated to output.css by tailwind

When developing, run:
    ./tailwindcss -i input.css -o output.css --watch
When deploying, run:
    ./tailwindcss -i input.css -o output.css --minify
*/

@import "tailwindcss";

@theme {
  --color-light-olive: #f2ffd9;
  --color-olive: #b1d27d;
  --color-dark-olive: #1a231b;
  --color-light-salmon: #ffe0dd;
  --color-salmon: #ff7e70;
  --color-dark-salmon: #2b1b1b;
  --font-poppins: Poppins, sans-serif;
  --animate-fade-in: fadeIn 0.5s ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

[hidden] {
  display: none !important;
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 10px;

  background-color: rgba(141, 198, 245, 0);
}
::-webkit-scrollbar-track {
  background-color: var(--color-salmon-pink);
}

::-webkit-scrollbar-thumb {
  background: rgb(240, 240, 240);
  border-radius: 10px;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

/*
Reveal animation for each section while scrolling. 
Taken from https://medium.com/@glen.gracieux/building-a-simple-html-css-js-website-9cc04a8bd761
*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 800ms all ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
